- content_for :content_filter do
  Viewing graph
  %select#graph-type
    - @graphs.each do |graph|
      = option_element(graph.id, graph.name, @current_graph)

%section#node-dashboard{:'data-node-id' => @node.id}
  %section.info-strip
    %article.open-alerts
      %span.value NYI
      %span.label Open alerts

    %article.uptime
      %span.value= seconds_as_time(@state.uptime)
      %span.label Uptime

    %article.memory-usage
      %span.value== #{bytes_to_mb(@state.memory_usage)}MB
      %span.label Memory usage

    %article.swap-usage
      %span.value== #{bytes_to_mb(@state.swap_usage)}MB
      %span.label Swap usage

    %article.load-average
      %span.value= @state.load_average.to_f.round(2)
      %span.label Load average

    %article.process-count
      %span.value= @state.process_count
      %span.label Process count

  %article#node-graph.graph{:'data-graph-id' => @graph.id, :'data-node-id' => @node.id}
